@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
	--mb: clamp(5rem, 2.582rem + 12.09vw, 11.875rem);
	--primary-grey: #838383;
	--primary-dark: #1d1d1f;
}

body {
	font-family: "Inter", sans-serif;
	&.lock {
		overflow: hidden;
	}
}
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}
.logo {
	font-weight: 500;
	font-size: 32px;
	color: #fff;
}
.btn {
	position: relative;
	width: 160px;
	height: 60px;
	background-color: #000;
	color: #fff;
	font-weight: 600;
	font-size: 17px;
	transition: all 0.3s linear 0s;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
}
.about__play--hidden {
	display: none;
}

.header {
	padding: 50px 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: inline-block;
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 35px;
	}
	&__link {
		color: #fff;
		font-size: 18px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 4px;
			background-color: currentColor;
			bottom: -5px;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover::before {
				transform-origin: left;
				transform: scaleX(1);
			}
		}
	}
}
.burger-menu {
	display: none;
	width: 35px;
	height: 25px;
	position: relative;
	z-index: 2;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	& .line {
		width: 100%;
		height: 3px;
		background-color: #fff;
		box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
		transition: 0.3s ease-in-out;
	}
}
.burger-menu.active {
	.line-1 {
		transform: rotate(30deg) translate(10.5px, 1px) scaleX(0.5);
	}
	.line-2 {
		transform: rotate(180deg);
	}
	.line-3 {
		transform: rotate(-30deg) translate(10.5px, -1px) scaleX(0.5);
	}
}
@media (max-width: 768px) {
	.menu {
		padding: 20px 0;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 1;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		background: rgb(24, 22, 45);
		background: linear-gradient(20deg, rgba(24, 22, 45, 1) 0%, rgba(31, 53, 69, 1) 50%, rgba(33, 51, 55, 1) 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s ease-in-out;
		&__list {
			flex-direction: column;
			gap: 50px;
		}
		&__link {
			font-size: 30px;
		}
	}
	.menu.active {
		left: 0;
	}
	.burger-menu {
		display: flex;
	}
}

.hero {
	margin-bottom: var(--mb);
	padding: 270px 0 0 0;
	height: 100vh;
	background: url("./../img/hero-bg.png") center / cover no-repeat;
	color: #fff;

	&__title {
		margin: 0 0 30px 0;
		max-width: 936px;
		font-weight: 600;
		font-size: 90px;
		font-size: clamp(1.875rem, 0.424rem + 7.25vw, 6rem);
		line-height: clamp(2.5rem, 0.83rem + 8.35vw, 7.25rem);
		color: #fff;
	}

	&__descr {
		margin: 0 0 50px 0;
		max-width: 468px;
		line-height: 24px;
		color: #fff;
	}

	&__btn {
		background-color: #fff;
		color: #000;
	}
}

.about {
	margin-bottom: var(--mb);

	&__top {
		margin-bottom: var(--mb);
		align-items: center;
	}

	&__item {
		margin: 0 0 60px 0;
	}

	&__title {
		margin: 0 0 60px 0;
		font-weight: 700;
		font-size: clamp(1.125rem, 0.554rem + 2.86vw, 2.75rem);
		line-height: clamp(1.563rem, 0.771rem + 3.96vw, 3.813rem);
	}

	&__text {
		line-height: 24px;
		& p:not(:last-child) {
			margin: 0 0 30px 0;
		}
	}

	&__video {
		position: relative;
		width: 100%;
		height: 630px;
		overflow: hidden;
		& video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
		background-color: transparent;
		& svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.progress {
	&__value {
		font-weight: 300;
		font-size: clamp(2.5rem, 1.973rem + 2.64vw, 4rem);
		line-height: clamp(3.125rem, 2.246rem + 4.4vw, 5.625rem);
	}

	&__descr {
		font-weight: 400;
		font-size: clamp(1.125rem, 0.993rem + 0.66vw, 1.5rem);
		line-height: 24px;
		color: var(--primary-grey);
	}
}

.portfolio {
	margin-bottom: var(--mb);

	&__row {
		margin-bottom: clamp(3.125rem, 1.587rem + 7.69vw, 7.5rem);
		align-items: center;
	}

	&__column {
		width: 100%;
		overflow: hidden;
		& img {
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__title {
		margin: 0 0 20px 0;
		font-size: 24px;
		line-height: 34px;
		color: var(--primary-grey);
	}

	&__descr {
		margin-bottom: clamp(1.25rem, -0.069rem + 6.59vw, 5rem);
		line-height: 24px;
	}
}

.quote {
	margin-bottom: var(--mb);

	&__title {
		margin-bottom: clamp(1.563rem, 1.013rem + 2.75vw, 3.125rem);
		color: var(--primary-grey);
	}

	&__text {
		margin: 0 0 30px 0;
		max-width: 820px;
		font-size: clamp(1.125rem, 0.729rem + 1.98vw, 2.25rem);
		line-height: clamp(1.375rem, 0.672rem + 3.52vw, 3.375rem);
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
	}

	&__author {
		& span {
			color: var(--primary-grey);
		}
	}
}

.services {
	margin-bottom: var(--mb);

	&__image {
		margin-bottom: var(--mb);
		& img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__row {
		padding: 40px 0 0 0;
		&:not(:last-child) {
			margin: 0 0 40px 0;
		}
		align-items: center;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}

	&__title {
		font-weight: 500;
		font-size: 32px;
		color: var(--primary-dark);
	}

	&__descr {
		line-height: 24px;
		color: var(--primary-grey);
	}
}

.footer {
	padding: 90px 0;
	background-color: var(--primary-dark);
	color: #fff;

	&__logo {
		display: inline-block;
		margin: 0 0 50px 0;
	}

	&__address {
		margin: 0 0 30px 0;
		color: var(--primary-grey);
	}

	&__title {
		margin-bottom: clamp(0.625rem, 0.098rem + 2.64vw, 2.125rem);
		font-weight: 500;
		font-size: clamp(1.125rem, 0.817rem + 1.54vw, 2rem);
		line-height: clamp(1.563rem, 1.211rem + 1.76vw, 2.563rem);
	}

	&__form {
		position: relative;
		width: 100%;
	}

	&__input {
		position: relative;
		padding: 24px 30px 24px 0;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		border-bottom: 1px solid var(--primary-grey);
		background-color: transparent;
		transition: all 0.5s linear 0s;
		&:focus {
			border-bottom: 1px solid #95eaf5;
		}
	}

	&__btn {
		position: absolute;
		top: 24px;
		right: 0;
		background-color: transparent;
	}
}
.social {
	display: flex;
	gap: 20px;

	&__link {
		display: block;
		width: 40px;
		height: 40px;
		& svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s linear 0s;
		}
	}
}

@media (max-width: 640px) {
	.grid {
		grid-template-columns: auto;
		row-gap: 50px;
	}
	.progress {
		text-align: center;
	}
}
